<!DOCTYPE html>
<html>
<head>
	<title>login from</title>
	<link rel="stylesheet" href="{{=URL('static','css/loginstyle.css')}}"/>
</head>
<body>
 	<div class="loginbox">
		<img src="{{=URL('static','css/imgs/ce.jpg')}}" class="avatar">
		<h1>Login Here</h1>
		<form action="{{=URL('authenticate')}}" method="post">
			<p>Username</p>
			<input type="text" name="username" placeholder="Enter Username">
			<p>Password</p>
			<input type="password" name="password" placeholder="Enter Password">
			<input type="submit" name="" value="submit">
			<a href="#">Lost your password</a><br>
			<a href="#">Sign Up Here</a>
		</form>
 	</div>
</body>
</html>